button.w-75.m-auto.p-4.mb-2.btn.btn-primary {
     font-size: 20px;
     font-weight: 600;
 }






@media screen and (max-width: 700px) {

    .card-body {
        display: flex;
        flex-direction: column;
    }
    .btn{
        font-size: 10px;
        font-weight: 500;
        
    }

    button.w-50.m-auto.p-3.btn.rounded-pill.mb-2.btn.btn-primary {
        width: 100% !important;
    }

    
}